
h1{
	
	font-size : 48px;
	margin-left : 450px;
	color : blue;
	background-color: white;
	opacity : 0.65;
}

#backcek{
position:relative;
margin-top : -5px;
left : 200px;
}
#backbook{
position:relative;
left : 200px;
}
#backkonf{
position:relative;
left : 200px;
}
#pkonf{
color: blue;
}
#pnam{
color: blue;
}
#silah{
color: blue;
}

#ex-table,th,td{
	background-color: #4CAF50;
	color: white;
	border: 1px solid blue;
}
#ex-table{
	position: absolute;
	margin : 0 0 0 -120px;
}

#btncek{
/*	position : absolute;*/
	margin : 10px 0 0 20px ;
}

#in_lama_jam{
position:absolute;
left : 101px;
}

#btnkonfirmasi{
	position : absolute;
	margin : -21px 0 0 200px;
}
#btnbook{
	position: absolute;
	left : 200px;
	
}
#logo{
	background-image : url("logo.jpg");
	background-repeat: no-repeat;
	background-size :contain;
	position : center center;
	height : 700px;
	width : 1000px;
	position : absolute;
	top : -40px;
	left: 250px;
	z-index : -1;
	}
	
.dot {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin: -110px 0 0 850px;
}
#tsedia{
	color : black;
	font-size : 23px;
	margin : 10px 0 0 12px;
}

#tersediaaa{
	font-size: 50px;
	color : white;
	margin : -10px 0 0 20px;
}


